html, body{
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

.header {

}

.logo {
    width: 50%;
    padding-bottom: 10%;
}

.content {
    text-align: center;
    max-width: 640px;
    margin: 0 auto;
    padding-bottom: 20%;
}
